/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v12-latin-regular.woff2') format('woff2'),
       url('../fonts/montserrat-v12-latin-regular.woff') format('woff')
}
/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/montserrat-v12-latin-700.woff2') format('woff2'), 
       url('../fonts/montserrat-v12-latin-700.woff') format('woff')
}

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v18-latin-regular.woff2') format('woff2'),
       url('../fonts/roboto-v18-latin-regular.woff') format('woff')
}
/* roboto-italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: 
       url('../fonts/roboto-v18-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v18-latin-italic.woff') format('woff') /* Modern Browsers */
}
/* kaushan-script-regular - latin */
@font-face {
  font-family: 'Kaushan';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/kaushan-script-v6-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/kaushan-script-v6-latin-ext_latin-regular.woff') format('woff') /* Modern Browsers */
}