/* 1 */
[class*="box"] {
    /* height: 100px; */
}
[class*="col"] {
    padding: 0;
}
.box1 {
    background-color: #e7c885;
}
.box2 {
    background-color: #a0e286;
}
.box3, .box5 {
    background-color: #e2cc86;
}
.box4 {
    background-color: #e2a086;
}
div {
    text-align: center;
    font-weight: bold;
    line-height: 58px;
}