*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-size: 16;
    font-family: Pathway Gothic One;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 240px;
    padding-bottom: 543px;
}
.wrapper {
    width: 480px;
    margin: auto;
    background: #fff;
    padding: 0 38px;
}
h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #515d77;
}
h3 {
    font-size: 14px;
    color: #515d77;
    display: inline-block;
}
p {
    font-size: 12px;
}
.list {
    column-count: 2;
    list-style-type: none;
    font-size: 14px;
    color: #515d77;
    display: inline-block;
    padding: 10px 0 0 20px;
}


/*agency profile*/
.about {
    padding: 60px 0 50px; 
    display: inline-block;
}
.about img {
    display: block;
    width: 100%;
    margin: 35px 0 28px; 
}
.about h3 {
    padding-bottom: 20px;
}


/*our principles*/
.workflow {
    padding-bottom: 54px;
    box-shadow: 0 2px 0 0 #BDBDBD;
}
.workflow h3 {
    padding: 28px 0 20px;
}


/*what we offer*/
.offers {
    padding: 54px 0 43px;
}
.offers h3 {
    padding: 28px 0 20px;
}
.list li{
    display: inline-block;
    padding-top: 20px; 
}
