body {
    font-size: 16;
    font-family: Pathway Gothic One;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 230px;
    padding-bottom: 268px;
}
.wrapper {
    width: 1025px;
    margin: auto;
    background: #fff;
    padding: 118px 65px 85px;
}
.clearfix::after {
    display: table;
    content: '';
    clear: both;
}
h2 {
    font-size: 32px;
    text-transform: uppercase;
    color: #263555;
}
h3 {
    font-size: 16px;
    color: #263555;
    display: inline-block;
    line-height: 1.2;
}
p {
    font-size: 14px;
    line-height: 1.5;
}
.list {
    column-count: 2;
    list-style-type: none;
    font-size: 15px;
    color: #263555;
    /* margin: 40px 0 0 20px; */
}
.maininfo {
    display: inline-block;
    padding-bottom: 50px;
    box-shadow: 0 2px 0 0 #BDBDBD;
}
.otherinfo {
    margin-top: 60px;
}
/*agency profile*/
.about {
    display: inline-block;
    width: 75%;
    padding-right: 50px;
    vertical-align: top;
    /* margin-bottom: 50px; */
}
.about h2 {
    margin-bottom: 50px;
}
.about img {
    display: block;
    width: 360px;
    float: left;
    margin: 0 25px 25px 0;
}
.about h3 {
    margin-bottom: 20px;
    display: block;
}
.about p {
    margin-bottom: 10px;
}
.about p:last-child{
    margin-bottom: 0px;
}

/* our principles */
.workflow {
    display: inline-block;
    width: 25%;
    margin-left: -4px;
    counter-reset: principles;    
}
.workflow h2 {
    margin-bottom: 50px;
}
.workflow h3 {
    margin-bottom: 10px;
    counter-increment: principles;
}
.workflow h3::before {
    content: counter(principles, decimal) '';
    display: inline-block;
    width: 25px;
    height: 25px;
    color: #fff;
    background-color: #38afe5;
    border-radius: 100%;
    text-align: center;
    line-height: 25px;
    margin-right: 15px;
    vertical-align: top;
}
.workflow p {
    margin-bottom: 35px;
    padding-left: 40px; 
}
.workflow p:last-child {
    margin-bottom: 0px;
}

/* what we offer */
.offers {
    display: inline-block;
    width: 75%;
    vertical-align: top;
    padding-right: 50px;
}
.offers h2{
    margin-bottom: 65px;
}
.offers h3{
    margin-bottom: 23px;
}
.offers p{
    margin-bottom: 35px;
}
.list li{
    margin-bottom: 25px;
}
.list li:last-child{
    margin-bottom: 0px;
}
.list li::before {
    content: " \2192 ";
    color: #38afe5;
    margin-right: 12px; 
}
/* testimonial */
.contacts {
    display: inline-block;
    width: 25%; 
    margin-left: -4px;
}
.contacts h2 {
    margin-bottom: 45px;
}
.info {
    padding: 23px;
    border: 2px solid #dfdcdc;
    display: inline-block;
}
.info{
    margin-bottom: 30px;
}
.info h3::before {
    content: " \0022 ";
}
.info h3::after {
    content: " \0022 ";
}
.person {
    text-align: center;
}
.person h3{
    margin-bottom: 15px;
}